Repository supabase/supabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @supabase/design, @roryw10, @supabase/billing, @4L3k51, @supabase/growth-eng, @supabase/Dashboard, @charislam, @supabase/marketing, @supabase/dev-workflows, @supabase/security

docs: update auth email template variables (#36865)
  apps/docs/content/guides/auth/auth-email-templates.mdx
Owners: none

docs: update auth email template variables (#36865)
  apps/docs/content/guides/auth/auth-email-templates.mdx
Owners: none

fixes
  apps/studio/components/interfaces/BranchManagement/BranchManagement.tsx
  apps/studio/components/layouts/AppLayout/BranchDropdown.tsx
  apps/studio/data/merge-requests/merge-request-create-mutation.ts
  apps/studio/data/merge-requests/merge-request-delete-mutation.ts
  apps/studio/data/merge-requests/merge-request-query.ts
  apps/studio/data/merge-requests/merge-request-update-mutation.ts
  apps/studio/data/merge-requests/merge-requests-query.ts
  apps/studio/pages/project/[ref]/merge-requests/[id].tsx
Owners: @supabase/Dashboard

more general filter tools
  apps/studio/lib/ai/supabase-mcp.ts
  apps/studio/lib/ai/tool-filter.test.ts
  apps/studio/lib/ai/tool-filter.ts
  apps/studio/pages/api/ai/sql/generate-v4.ts
  apps/studio/pages/api/ai/sql/supabase-mcp.test.ts
  apps/studio/pages/api/ai/sql/supabase-mcp.ts
Owners: @supabase/Dashboard

confirm merge
  apps/studio/pages/project/[ref]/merge.tsx
Owners: @supabase/Dashboard

update edge functions key
  apps/studio/hooks/branches/useEdgeFunctionsDiff.ts
Owners: @supabase/Dashboard

Review and merge branch (#36795)
  apps/studio/components/interfaces/BranchManagement/Branch.Commands.tsx
  apps/studio/components/interfaces/BranchManagement/BranchPanels.tsx
  apps/studio/components/interfaces/BranchManagement/DatabaseDiffPanel.tsx
  apps/studio/components/interfaces/BranchManagement/EdgeFunctionsDiffPanel.tsx
  apps/studio/components/interfaces/BranchManagement/OutOfDateNotice.tsx
  apps/studio/components/interfaces/BranchManagement/WorkflowLogsCard.tsx
  apps/studio/components/interfaces/Organization/IntegrationSettings/SidePanelGitHubRepoLinker.tsx
  apps/studio/components/layouts/AppLayout/BranchDropdown.tsx
  apps/studio/components/layouts/PageLayout/PageHeader.tsx
  apps/studio/components/layouts/PageLayout/PageLayout.tsx
  apps/studio/components/ui/DiffViewer.tsx
  apps/studio/data/branches/branch-diff-query.ts
  apps/studio/data/branches/branch-merge-mutation.ts
  apps/studio/data/branches/branch-push-mutation.ts
  apps/studio/data/branches/keys.ts
  apps/studio/data/database/migration-upsert-mutation.ts
  apps/studio/data/edge-functions/edge-function-body-query.ts
  apps/studio/data/workflow-runs/keys.ts
  apps/studio/data/workflow-runs/workflow-run-query.ts
  apps/studio/hooks/branches/useBranchMergeDiff.ts
  apps/studio/hooks/branches/useEdgeFunctionsDiff.ts
  apps/studio/hooks/branches/useWorkflowManagement.ts
  apps/studio/pages/project/[ref]/merge.tsx
  pnpm-lock.yaml
Owners: @supabase/Dashboard

Review and merge branch (#36795)
  apps/studio/components/interfaces/BranchManagement/Branch.Commands.tsx
  apps/studio/components/interfaces/BranchManagement/BranchPanels.tsx
  apps/studio/components/interfaces/BranchManagement/DatabaseDiffPanel.tsx
  apps/studio/components/interfaces/BranchManagement/EdgeFunctionsDiffPanel.tsx
  apps/studio/components/interfaces/BranchManagement/OutOfDateNotice.tsx
  apps/studio/components/interfaces/BranchManagement/WorkflowLogsCard.tsx
  apps/studio/components/interfaces/Organization/IntegrationSettings/SidePanelGitHubRepoLinker.tsx
  apps/studio/components/layouts/AppLayout/BranchDropdown.tsx
  apps/studio/components/layouts/PageLayout/PageHeader.tsx
  apps/studio/components/layouts/PageLayout/PageLayout.tsx
  apps/studio/components/ui/DiffViewer.tsx
  apps/studio/data/branches/branch-diff-query.ts
  apps/studio/data/branches/branch-merge-mutation.ts
  apps/studio/data/branches/branch-push-mutation.ts
  apps/studio/data/branches/keys.ts
  apps/studio/data/database/migration-upsert-mutation.ts
  apps/studio/data/edge-functions/edge-function-body-query.ts
  apps/studio/data/workflow-runs/keys.ts
  apps/studio/data/workflow-runs/workflow-run-query.ts
  apps/studio/hooks/branches/useBranchMergeDiff.ts
  apps/studio/hooks/branches/useEdgeFunctionsDiff.ts
  apps/studio/hooks/branches/useWorkflowManagement.ts
  apps/studio/pages/project/[ref]/merge.tsx
  pnpm-lock.yaml
Owners: @supabase/Dashboard

Moar logs
  apps/studio/components/interfaces/UnifiedLogs/Queries/ServiceFlowQueries/ServiceFlow.sql.ts
  apps/studio/components/interfaces/UnifiedLogs/ServiceFlow/ServiceFlowBlocks.tsx
  apps/studio/components/interfaces/UnifiedLogs/ServiceFlowPanel.tsx
  apps/studio/components/interfaces/UnifiedLogs/UnifiedLogs.constants.tsx
  apps/studio/components/interfaces/UnifiedLogs/UnifiedLogs.queries.ts
  apps/studio/components/interfaces/UnifiedLogs/components/FunctionLogsTab.tsx
  apps/studio/data/logs/index.ts
  apps/studio/data/logs/unified-log-inspection-query.ts
Owners: @supabase/Dashboard

feat: use enablePgReplicate feature flag
  apps/studio/components/layouts/DatabaseLayout/DatabaseLayout.tsx
  apps/studio/components/layouts/DatabaseLayout/DatabaseMenu.utils.tsx
  apps/studio/pages/project/[ref]/database/replication.tsx
Owners: @supabase/Dashboard

add review requested at
  apps/studio/components/interfaces/BranchManagement/BranchManagement.tsx
  apps/studio/components/interfaces/BranchManagement/ReviewRow.tsx
  apps/studio/components/layouts/AppLayout/BranchDropdown.tsx
  apps/studio/data/branches/branch-update-mutation.ts
  apps/studio/data/branches/branches-query.ts
  apps/studio/pages/project/[ref]/merge.tsx
Owners: @supabase/Dashboard

gitless check
  apps/studio/components/interfaces/BranchManagement/BranchManagement.tsx
Owners: @supabase/Dashboard

Minor design fixes.
  apps/studio/components/interfaces/APIKeys/CreateSecretAPIKeyDialog.tsx
  apps/studio/components/interfaces/APIKeys/PublishableAPIKeys.tsx
  apps/studio/data/api-keys/api-key-create-mutation.ts
Owners: @supabase/Dashboard

Fix the badge border in WrapperRow.
  apps/studio/components/interfaces/Integrations/Wrappers/WrapperRow.tsx
Owners: @supabase/Dashboard

feat: Add support for `import foreign schema` for wrappers (#36827)
  apps/studio/components/interfaces/Integrations/Wrappers/CreateWrapperSheet.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/InputField.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/WrapperRow.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/WrapperTable.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/Wrappers.constants.ts
  apps/studio/components/interfaces/Integrations/Wrappers/Wrappers.types.ts
  apps/studio/components/interfaces/TableGridEditor/SidePanelEditor/SchemaEditor.tsx
  apps/studio/components/interfaces/TableGridEditor/SidePanelEditor/SidePanelEditor.tsx
  apps/studio/data/fdw/fdw-create-mutation.ts
  apps/studio/data/fdw/fdw-update-mutation.ts
  packages/ui/src/components/radio-group-stacked.tsx
Owners: @supabase/Dashboard, @supabase/design

feat: Add support for `import foreign schema` for wrappers (#36827)
  apps/studio/components/interfaces/Integrations/Wrappers/CreateWrapperSheet.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/InputField.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/WrapperRow.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/WrapperTable.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/Wrappers.constants.ts
  apps/studio/components/interfaces/Integrations/Wrappers/Wrappers.types.ts
  apps/studio/components/interfaces/TableGridEditor/SidePanelEditor/SchemaEditor.tsx
  apps/studio/components/interfaces/TableGridEditor/SidePanelEditor/SidePanelEditor.tsx
  apps/studio/data/fdw/fdw-create-mutation.ts
  apps/studio/data/fdw/fdw-update-mutation.ts
  packages/ui/src/components/radio-group-stacked.tsx
Owners: @supabase/Dashboard, @supabase/design

Add Iceberg FDW.
  apps/studio/components/interfaces/Integrations/Wrappers/InputField.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/Wrappers.constants.ts
  apps/studio/public/img/icons/iceberg-icon.svg
  apps/studio/static-data/integrations/iceberg_wrapper/overview.md
Owners: @supabase/Dashboard

Fix the fdw-create-mutation to handle special chars.
  apps/studio/data/fdw/fdw-create-mutation.ts
Owners: @supabase/Dashboard

Fix the vault links in the wrapper rows.
  apps/studio/components/interfaces/Integrations/Wrappers/WrapperRow.tsx
Owners: @supabase/Dashboard

fix: remove apac bedrock region and add us region
  apps/studio/lib/ai/bedrock.ts
  apps/studio/lib/ai/model.ts
Owners: @supabase/Dashboard

feat: use enablePgReplicate feature flag (#36876)
  apps/studio/components/layouts/DatabaseLayout/DatabaseLayout.tsx
  apps/studio/components/layouts/DatabaseLayout/DatabaseMenu.utils.tsx
  apps/studio/pages/project/[ref]/database/replication.tsx
Owners: @supabase/Dashboard

feat: use enablePgReplicate feature flag (#36876)
  apps/studio/components/layouts/DatabaseLayout/DatabaseLayout.tsx
  apps/studio/components/layouts/DatabaseLayout/DatabaseMenu.utils.tsx
  apps/studio/pages/project/[ref]/database/replication.tsx
Owners: @supabase/Dashboard

feat: Add Iceberg FDW (#36828)
  apps/studio/components/interfaces/Integrations/Wrappers/InputField.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/WrapperRow.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/Wrappers.constants.ts
  apps/studio/data/fdw/fdw-create-mutation.ts
  apps/studio/public/img/icons/iceberg-icon.svg
  apps/studio/static-data/integrations/iceberg_wrapper/overview.md
Owners: @supabase/Dashboard

feat: Add Iceberg FDW (#36828)
  apps/studio/components/interfaces/Integrations/Wrappers/InputField.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/WrapperRow.tsx
  apps/studio/components/interfaces/Integrations/Wrappers/Wrappers.constants.ts
  apps/studio/data/fdw/fdw-create-mutation.ts
  apps/studio/public/img/icons/iceberg-icon.svg
  apps/studio/static-data/integrations/iceberg_wrapper/overview.md
Owners: @supabase/Dashboard

feat: add billing information to the leave org modal
  apps/studio/components/interfaces/Organization/TeamSettings/LeaveTeamButton.tsx
Owners: @supabase/Dashboard

feat: add billing information to the leave org modal (#36868)
  apps/studio/components/interfaces/Organization/TeamSettings/LeaveTeamButton.tsx
Owners: @supabase/Dashboard

feat: add billing information to the leave org modal (#36868)
  apps/studio/components/interfaces/Organization/TeamSettings/LeaveTeamButton.tsx
Owners: @supabase/Dashboard

Validate the aiOptInLevel on the server
  apps/studio/components/ui/AIAssistantPanel/AIAssistant.tsx
  apps/studio/data/organizations/organizations-query.ts
  apps/studio/pages/api/ai/sql/generate-v4.ts
Owners: @supabase/Dashboard

Rename api to api gateway
  apps/studio/components/layouts/ReportsLayout/ReportsMenu.tsx
  apps/studio/pages/project/[ref]/reports/api-overview.tsx
Owners: @supabase/Dashboard

Changed an List to an array
  apps/docs/spec/supabase_dart_v2.yml
Owners: none

Update apps/docs/content/guides/auth/auth-hooks/before-user-created-hook.mdx
  apps/docs/content/guides/auth/auth-hooks/before-user-created-hook.mdx
Owners: none

Changed -an List- to -a List- (#36856)
  apps/docs/spec/supabase_dart_v2.yml
Owners: none

Changed -an List- to -a List- (#36856)
  apps/docs/spec/supabase_dart_v2.yml
Owners: none

fix(mcp url builder): mcp-remote options
  packages/ui-patterns/src/McpUrlBuilder/constants.tsx
  packages/ui-patterns/src/McpUrlBuilder/types.ts
Owners: none

fix(docs): mcp
  apps/docs/content/_partials/mcp_postgres_config.mdx
  apps/docs/content/_partials/mcp_supabase_config.mdx
  apps/docs/content/_partials/mcp_supabase_vscode_config.mdx
  apps/docs/content/guides/getting-started/mcp.mdx
Owners: none

og image
  apps/www/app/api-v2/ticket-og/route.tsx
  apps/www/components/LaunchWeek/15/Ticketing/LW15Ticket.tsx
Owners: @supabase/marketing

update logged out text
  apps/www/components/LaunchWeek/15/Ticketing/LW15Ticket.tsx
  apps/www/components/LaunchWeek/15/Ticketing/LW15TicketPage.tsx
Owners: @supabase/marketing

logo height
  apps/www/app/api-v2/ticket-og/route.tsx
Owners: @supabase/marketing

fix(docs): feedback form note (#36835)
  apps/docs/components/Feedback/FeedbackModal.tsx
Owners: none

fix(docs): feedback form note (#36835)
  apps/docs/components/Feedback/FeedbackModal.tsx
Owners: none

.github/CODEOWNERS:

/packages/ui/  @supabase/design
/packages/shared-data/pricing.ts @roryw10 @supabase/billing
/packages/shared-data/plans.ts @roryw10 @supabase/billing
/packages/common/telemetry-constants.ts @4L3k51 @supabase/growth-eng

/apps/studio/ @supabase/Dashboard

# temporary until we've ironed out all the problems with sync workflow
/apps/docs/content/troubleshooting/ @charislam

/apps/www/ @supabase/marketing
/apps/www/public/images/blog @supabase/marketing
/apps/www/lib/redirects.js

/docker/ @supabase/dev-workflows

/apps/studio/csp.js                                                 @supabase/security
/apps/studio/components/interfaces/Billing/Payment                  @supabase/security
/apps/studio/components/interfaces/Organization/BillingSettings/    @supabase/security
/apps/studio/components/interfaces/Organization/Documents/          @supabase/security
/apps/studio/pages/new/index.tsx                                    @supabase/security
