Repository supabase/supabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @roryw10, @kevcodez, @supabase/Dashboard, @supabase/marketing, @supabase/cli

Remove flag for plp, only check for subscription plan
  apps/studio/components/interfaces/Organization/TeamSettings/InviteMemberButton.tsx
  apps/studio/components/interfaces/Organization/TeamSettings/MemberActions.tsx
  apps/studio/components/interfaces/Organization/TeamSettings/MemberRow.tsx
  apps/studio/components/interfaces/Organization/TeamSettings/UpdateRolesPanel/UpdateRolesPanel.tsx
  apps/studio/data/subscriptions/org-subscription-query.ts
  apps/studio/hooks/ui/useFlag.ts
Owners: @supabase/Dashboard

feat: snippet commands (#28573)
  apps/studio/components/interfaces/App/CommandMenu/CommandMenu.tsx
  apps/studio/components/layouts/SQLEditorLayout/SqlEditor.Commands.tsx
  packages/ui-patterns/CommandMenu/api/hooks/useCommandFilterState.ts
  packages/ui-patterns/CommandMenu/index.tsx
  packages/ui/src/components/CodeBlock/CodeBlock.tsx
Owners: @supabase/Dashboard

feat: snippet commands (#28573)
  apps/studio/components/interfaces/App/CommandMenu/CommandMenu.tsx
  apps/studio/components/layouts/SQLEditorLayout/SqlEditor.Commands.tsx
  packages/ui-patterns/CommandMenu/api/hooks/useCommandFilterState.ts
  packages/ui-patterns/CommandMenu/index.tsx
  packages/ui/src/components/CodeBlock/CodeBlock.tsx
Owners: @supabase/Dashboard

chore: add docs on common logical restoration failures (#28615)
  apps/docs/content/guides/platform/backups.mdx
Owners: none

chore: add docs on common logical restoration failures (#28615)
  apps/docs/content/guides/platform/backups.mdx
Owners: none

docs(python): fix wrong type for on_conflict param
  apps/docs/spec/supabase_py_v2.yml
Owners: none

fix(docs): link
  apps/docs/content/guides/database/postgres/configuration.mdx
Owners: none

docs(swift): remova usage of deprecated code from getting started guide
  apps/docs/content/guides/getting-started/tutorials/with-swift.mdx
Owners: none

fix: repeated responses in docs search (#28607)
  packages/ui-patterns/CommandMenu/prepackaged/DocsAi/DocsAiPage.tsx
Owners: none

fix: repeated responses in docs search (#28607)
  packages/ui-patterns/CommandMenu/prepackaged/DocsAi/DocsAiPage.tsx
Owners: none

fix(docs): api crawler routes (#28614)
  apps/docs/app/api/crawlers/route.ts
  apps/docs/lib/docs.ts
Owners: none

fix(docs): api crawler routes (#28614)
  apps/docs/app/api/crawlers/route.ts
  apps/docs/lib/docs.ts
Owners: none

fix(docs): link (#28638)
  apps/docs/content/guides/database/postgres/configuration.mdx
Owners: none

fix(docs): link (#28638)
  apps/docs/content/guides/database/postgres/configuration.mdx
Owners: none

docs(python): fix wrong type for on_conflict param (#28637)
  apps/docs/spec/supabase_py_v2.yml
Owners: none

docs(python): fix wrong type for on_conflict param (#28637)
  apps/docs/spec/supabase_py_v2.yml
Owners: none

use a Badge and move it to the right
  apps/studio/components/interfaces/SignIn/LastSignInWrapper.tsx
Owners: @supabase/Dashboard

chore(docs): remove preview build shortcuts
  apps/docs/features/app.providers.tsx
  apps/docs/features/envs/staging.client.tsx
  apps/docs/lib/constants.ts
  apps/docs/lib/mdx/handleRefStaticPaths.tsx
  turbo.json
Owners: none

new post
  apps/www/_blog/2024-08-15-supabase-book-by-david-lorenz.mdx
  apps/www/public/images/blog/avatars/paul-copplestone.jpg
Owners: @supabase/marketing

docs(swift): remove usage of deprecated code from getting started guide (#28639)
  apps/docs/content/guides/getting-started/tutorials/with-swift.mdx
Owners: none

docs(swift): remove usage of deprecated code from getting started guide (#28639)
  apps/docs/content/guides/getting-started/tutorials/with-swift.mdx
Owners: none

fixes author
  apps/www/_blog/2024-08-15-supabase-book-by-david-lorenz.mdx
  apps/www/lib/authors.json
Owners: @supabase/marketing

markdown fixes
  apps/www/_blog/2024-08-15-supabase-book-by-david-lorenz.mdx
Owners: @supabase/marketing

adds thumbs
  apps/www/_blog/2024-08-15-supabase-book-by-david-lorenz.mdx
  apps/www/public/images/blog/lw12/supabase-book/OG_supabase_book.png
  apps/www/public/images/blog/lw12/supabase-book/thumb_supabse_book.png
Owners: @supabase/marketing

fix author
  apps/www/_blog/2024-08-15-supabase-book-by-david-lorenz.mdx
Owners: @supabase/marketing

docs: add link to upgrade compute
  apps/docs/content/guides/platform/compute-add-ons.mdx
Owners: none

re-ordering
  apps/www/_blog/2024-08-15-supabase-book-by-david-lorenz.mdx
Owners: @supabase/marketing

fix: tutorial description
  apps/docs/components/MDX/quickstart_intro.mdx
Owners: none

yt video
  apps/www/_blog/2024-08-15-supabase-book-by-david-lorenz.mdx
Owners: @supabase/marketing

feat(cmdk): create new table command
  apps/studio/components/interfaces/App/CommandMenu/CommandMenu.tsx
  apps/studio/components/interfaces/TableGridEditor/SidePanelEditor/TableEditor/TableEditor.tsx
  apps/studio/components/layouts/TableEditorLayout/TableEditor.Commands.tsx
  apps/studio/hooks/ui/useUrlState.ts
Owners: @supabase/Dashboard

fix: use invoker security setting (fixes #26882)
  apps/docs/content/guides/api/securing-your-api.mdx
Owners: none

docs: add link to upgrade compute (#28643)
  apps/docs/content/guides/platform/compute-add-ons.mdx
Owners: none

docs: add link to upgrade compute (#28643)
  apps/docs/content/guides/platform/compute-add-ons.mdx
Owners: none

fix: tutorial description (#28644)
  apps/docs/components/MDX/quickstart_intro.mdx
Owners: none

fix: tutorial description (#28644)
  apps/docs/components/MDX/quickstart_intro.mdx
Owners: none

chore(docs): remove preview build shortcuts (#28641)
  apps/docs/features/app.providers.tsx
  apps/docs/features/envs/staging.client.tsx
  apps/docs/lib/constants.ts
  apps/docs/lib/mdx/handleRefStaticPaths.tsx
  turbo.json
Owners: none

chore(docs): remove preview build shortcuts (#28641)
  apps/docs/features/app.providers.tsx
  apps/docs/features/envs/staging.client.tsx
  apps/docs/lib/constants.ts
  apps/docs/lib/mdx/handleRefStaticPaths.tsx
  turbo.json
Owners: none

update images
  apps/www/_blog/2024-08-16-postgres-foreign-data-wrappers-with-wasm.mdx
  apps/www/public/images/blog/lw12/day-5/FDW--light.png
  apps/www/public/images/blog/lw12/day-5/FDW-architecture--light.png
  apps/www/public/images/blog/lw12/day-5/FDW-architecture.png
  apps/www/public/images/blog/lw12/day-5/FDW.png
  apps/www/public/images/blog/lw12/day-5/OG_FDW-with-WASM.png
  apps/www/public/images/blog/lw12/day-5/fdw-diagram.png
  apps/www/public/images/blog/lw12/day-5/thumb_FDW-with-WASM.png
  apps/www/public/images/blog/lw12/day-5/wasm-fdw-architecture.png
Owners: @supabase/marketing

chore: upgrade Snowflake and Paddle wrapper fdw version
  apps/studio/components/interfaces/Database/Wrappers/Wrappers.constants.ts
Owners: @supabase/Dashboard

chore: upgrade Snowflake and Paddle wrapper fdw version (#28653)
  apps/studio/components/interfaces/Database/Wrappers/Wrappers.constants.ts
Owners: @supabase/Dashboard

.github/CODEOWNERS:

/packages/shared-data/pricing.ts @roryw10 @kevcodez
/packages/shared-data/plans.ts @roryw10 @kevcodez

/apps/studio/ @supabase/Dashboard

/apps/www/ @supabase/marketing
/apps/www/public/images/blog @supabase/marketing
/apps/www/lib/redirects.js

/docker/ @supabase/cli
