Repository supabase/supabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @roryw10, @kevcodez, @supabase/Dashboard, @charislam, @supabase/marketing, @supabase/cli

.github/CODEOWNERS:

/packages/shared-data/pricing.ts @roryw10 @kevcodez
/packages/shared-data/plans.ts @roryw10 @kevcodez

/apps/studio/ @supabase/Dashboard

# temporary until we've ironed out all the problems with sync workflow
/apps/docs/content/troubleshooting/ @charislam

/apps/www/ @supabase/marketing
/apps/www/public/images/blog @supabase/marketing
/apps/www/lib/redirects.js

/docker/ @supabase/cli

chore: update Supavisor troubleshooting guide
  apps/docs/content/guides/database/supavisor.mdx
Owners: none

lw13 interactive realtime grid
  apps/www/components/LaunchWeek/13/InteractiveGrid.tsx
  apps/www/pages/launch-week/poc-1.tsx
Owners: @supabase/marketing

chore: update Supavisor troubleshooting guide
  apps/docs/content/guides/database/supavisor.mdx
Owners: none

chore: update Supavisor troubleshooting guide (#30175)
  apps/docs/content/guides/database/supavisor.mdx
Owners: none

chore: update Supavisor troubleshooting guide (#30175)
  apps/docs/content/guides/database/supavisor.mdx
Owners: none

Removed burst from documentation and added table to better outline differences between io2 and gp3 disk types
  apps/docs/content/guides/platform/compute-and-disk.mdx
Owners: none

Deleted compute and disk simple
  apps/docs/content/guides/platform/compute-and-disk-simple.mdx
Owners: none

fix: fixes org usage summary
  apps/studio/components/interfaces/Organization/BillingSettings/helpers.ts
Owners: @supabase/Dashboard

fix: fixes org usage summary (#30177)
  apps/studio/components/interfaces/Organization/BillingSettings/helpers.ts
Owners: @supabase/Dashboard

fix: fixes org usage summary (#30177)
  apps/studio/components/interfaces/Organization/BillingSettings/helpers.ts
Owners: @supabase/Dashboard

blog: Correct the name and the twitter handle for one of the winners
  apps/www/_blog/2024-09-30-lw12-hackathon-winners.mdx
Owners: @supabase/marketing

Update apps/docs/content/guides/self-hosting.mdx
  apps/docs/content/guides/self-hosting.mdx
Owners: none

Update apps/docs/content/guides/self-hosting/docker.mdx
  apps/docs/content/guides/self-hosting/docker.mdx
Owners: none

added more consistency to naming conventions, polished some design elements, removed redundant text
  apps/docs/content/guides/platform/compute-and-disk.mdx
Owners: none

blog: Correct the name and the twitter handle for one of the winners (#30180)
  apps/www/_blog/2024-09-30-lw12-hackathon-winners.mdx
Owners: @supabase/marketing

blog: Correct the name and the twitter handle for one of the winners (#30180)
  apps/www/_blog/2024-09-30-lw12-hackathon-winners.mdx
Owners: @supabase/marketing

Added limits section. Moved connection info from first table to the limits section table
  apps/docs/content/guides/platform/compute-and-disk.mdx
Owners: none

chore: update TIA address
  apps/studio/components/interfaces/Organization/Documents/TIA.tsx
  apps/www/public/downloads/docs/Supabase+TIA+241009.pdf
  apps/www/public/downloads/docs/Supabase+TIA+241030.pdf
Owners: @supabase/Dashboard, @supabase/marketing

docs: remove Dart edge docs (#29012)
  apps/docs/content/guides/functions/dart-edge.mdx
Owners: none

docs: remove Dart edge docs (#29012)
  apps/docs/content/guides/functions/dart-edge.mdx
Owners: none

fix: tinloof page
  apps/www/_customers/tinloof.mdx
Owners: @supabase/marketing

error fields fixed. some formatting issues. nano added as an option
  apps/studio/components/interfaces/DiskManagement/DiskManagement.schema.ts
  apps/studio/components/interfaces/DiskManagement/DiskManagement.utils.ts
  apps/studio/components/interfaces/DiskManagement/DiskManagementForm.tsx
  apps/studio/components/interfaces/DiskManagement/fields/ComputeSizeField.tsx
  apps/studio/components/interfaces/DiskManagement/fields/DiskSizeField.tsx
Owners: @supabase/Dashboard

chore: update consent banner
  packages/ui-patterns/ConsentToast/index.tsx
  packages/ui-patterns/PrivacySettings/index.tsx
Owners: none

feat: add docs around linking anonymous user to existing account (#29511)
  apps/docs/content/guides/auth/auth-anonymous.mdx
Owners: none

feat: add docs around linking anonymous user to existing account (#29511)
  apps/docs/content/guides/auth/auth-anonymous.mdx
Owners: none

fix constants
  apps/studio/components/interfaces/DiskManagement/ui/ComputeSizeReccomendationSection.tsx
  apps/studio/components/interfaces/DiskManagement/ui/DiskManagement.constants.tsx
Owners: @supabase/Dashboard

Smol update
  packages/ui-patterns/ConsentToast/index.tsx
Owners: none

Smol update
  packages/ui-patterns/PrivacySettings/index.tsx
Owners: none

chore: table editor query optimisation
  apps/studio/components/grid/SupabaseGrid.utils.ts
  apps/studio/components/grid/components/editor/JsonEditor.tsx
  apps/studio/components/grid/components/editor/TextEditor.tsx
  apps/studio/components/grid/components/footer/Footer.tsx
  apps/studio/components/grid/components/footer/pagination/Pagination.tsx
  apps/studio/components/grid/components/header/RefreshButton.tsx
  apps/studio/components/interfaces/Database/Tables/ColumnList.tsx
  apps/studio/components/interfaces/TableGridEditor/DeleteConfirmationDialogs.tsx
  apps/studio/components/interfaces/TableGridEditor/GridHeaderActions.tsx
  apps/studio/components/interfaces/TableGridEditor/SidePanelEditor/ColumnEditor/ColumnForeignKey.tsx
  apps/studio/components/interfaces/TableGridEditor/SidePanelEditor/RowEditor/ForeignRowSelector/ForeignRowSelector.tsx
  apps/studio/components/interfaces/TableGridEditor/SidePanelEditor/RowEditor/JsonEditor/JsonEditor.tsx
  apps/studio/components/interfaces/TableGridEditor/SidePanelEditor/RowEditor/TextEditor.tsx
  apps/studio/components/interfaces/TableGridEditor/TableDefinition.tsx
  apps/studio/components/interfaces/TableGridEditor/TableGridEditor.tsx
  apps/studio/components/layouts/TableEditorLayout/EntityListItem.tsx
  apps/studio/components/layouts/TableEditorLayout/TableEditorMenu.tsx
  apps/studio/data/config/pgbouncer-enabled-query.ts
  apps/studio/data/database-columns/database-column-delete-mutation.ts
  apps/studio/data/encrypted-columns/encrypted-columns-query.ts
  apps/studio/data/encrypted-columns/keys.ts
  apps/studio/data/entity-types/entity-type-query.ts
  apps/studio/data/entity-types/entity-types-infinite-query.ts
  apps/studio/data/log-drains/log-drains-query.ts
  apps/studio/data/permissions/permissions-query.ts
  apps/studio/data/pg-sodium-keys/pg-sodium-keys-query.ts
  apps/studio/data/prefetchers/project.$ref.editor.$id.tsx
  apps/studio/data/read-replicas/replica-lag-query.ts
  apps/studio/data/table-editor/table-editor-query-sql.ts
  apps/studio/data/table-editor/table-editor-query.ts
  apps/studio/data/vault/vault-secret-decrypted-value-query.ts
  apps/studio/data/vault/vault-secrets-query.ts
  apps/studio/hooks/misc/useEntityType.ts
  apps/studio/hooks/misc/useTable.ts
  apps/studio/pages/project/[ref]/database/tables/[id].tsx
  apps/studio/pages/project/[ref]/editor/[id].tsx
Owners: @supabase/Dashboard

removed unused queries and fix invalidations
  apps/studio/components/grid/components/formatter/ForeignKeyFormatter.tsx
  apps/studio/components/interfaces/Database/Hooks/EditHookPanel.tsx
  apps/studio/components/interfaces/TableGridEditor/SidePanelEditor/SidePanelEditor.tsx
  apps/studio/components/interfaces/TableGridEditor/SidePanelEditor/SidePanelEditor.utils.tsx
  apps/studio/components/layouts/TableEditorLayout/EntityListItem.tsx
  apps/studio/data/database-columns/database-column-delete-mutation.ts
  apps/studio/data/foreign-tables/foreign-table-query.ts
  apps/studio/data/foreign-tables/keys.ts
  apps/studio/data/materialized-views/keys.ts
  apps/studio/data/materialized-views/materialized-view-query.ts
  apps/studio/data/table-editor/table-editor-query.ts
  apps/studio/data/table-rows/table-row-delete-mutation.tsx
  apps/studio/data/table-rows/utils.ts
  apps/studio/data/tables/get-table.ts
  apps/studio/data/tables/keys.ts
  apps/studio/data/tables/table-delete-mutation.ts
  apps/studio/data/tables/table-update-mutation.ts
  apps/studio/data/views/keys.ts
  apps/studio/data/views/view-query.ts
  apps/studio/pages/project/[ref]/database/tables/index.tsx
  apps/studio/pages/project/[ref]/editor/index.tsx
Owners: @supabase/Dashboard

add some plan restrictions
  apps/studio/components/interfaces/DiskManagement/DiskManagementForm.tsx
  apps/studio/components/interfaces/DiskManagement/fields/ComputeSizeField.tsx
Owners: @supabase/Dashboard

moar
  apps/studio/components/interfaces/DiskManagement/DiskManagementForm.tsx
  apps/studio/components/interfaces/DiskManagement/fields/ComputeSizeField.tsx
Owners: @supabase/Dashboard

units updated. labels updated
  apps/studio/components/interfaces/DiskManagement/DiskManagementForm.tsx
  apps/studio/components/interfaces/DiskManagement/DiskManagementReviewAndSubmitDialog.tsx
  apps/studio/components/interfaces/DiskManagement/fields/ThroughputField.tsx
  apps/studio/components/interfaces/DiskManagement/ui/DiskManagement.constants.tsx
Owners: @supabase/Dashboard

Update DiskManagement.schema.ts
  apps/studio/components/interfaces/DiskManagement/DiskManagement.schema.ts
Owners: @supabase/Dashboard

Add spam validation check in auth email templates
  apps/studio/components/interfaces/Auth/EmailTemplates/EmailTemplates.tsx
  apps/studio/components/interfaces/Auth/EmailTemplates/SpamValidation.tsx
  apps/studio/components/interfaces/Auth/EmailTemplates/TemplateEditor.tsx
  apps/studio/components/ui/CodeEditor/CodeEditor.tsx
  apps/studio/data/auth/validate-spam-mutation.ts
  packages/api-types/types/api.d.ts
  packages/ui/src/components/StatusIcon.tsx
Owners: @supabase/Dashboard

chore: update consent banner (#30183)
  packages/ui-patterns/ConsentToast/index.tsx
  packages/ui-patterns/PrivacySettings/index.tsx
Owners: none

chore: update consent banner (#30183)
  packages/ui-patterns/ConsentToast/index.tsx
  packages/ui-patterns/PrivacySettings/index.tsx
Owners: none

Update comment
  apps/studio/components/interfaces/Auth/EmailTemplates/SpamValidation.tsx
Owners: @supabase/Dashboard

fix a ton of type issues
  apps/studio/components/interfaces/DiskManagement/DiskManagement.schema.ts
  apps/studio/components/interfaces/DiskManagement/DiskManagement.utils.ts
  apps/studio/components/interfaces/DiskManagement/DiskManagementForm.tsx
  apps/studio/components/interfaces/DiskManagement/DiskMangement.types.ts
  apps/studio/components/interfaces/DiskManagement/fields/ComputeSizeField.tsx
  apps/studio/components/interfaces/DiskManagement/fields/IOPSField.tsx
  apps/studio/components/interfaces/DiskManagement/ui/ComputeSizeReccomendationSection.tsx
  apps/studio/components/interfaces/DiskManagement/ui/DiskCountdownRadial.tsx
Owners: @supabase/Dashboard

text udpates
  apps/studio/components/interfaces/DiskManagement/DiskManagementReviewAndSubmitDialog.tsx
  apps/studio/components/interfaces/DiskManagement/ui/ComputeSizeReccomendationSection.tsx
  apps/studio/components/interfaces/DiskManagement/ui/DiskManagementCoolDownSection.tsx
Owners: @supabase/Dashboard
