Repository supabase/supabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @supabase/design, @roryw10, @supabase/billing, @4L3k51, @supabase/growth-eng, @supabase/Dashboard, @charislam, @supabase/marketing, @supabase/dev-workflows, @supabase/security

.github/CODEOWNERS:

/packages/ui/  @supabase/design
/packages/shared-data/pricing.ts @roryw10 @supabase/billing
/packages/shared-data/plans.ts @roryw10 @supabase/billing
/packages/common/telemetry-constants.ts @4L3k51 @supabase/growth-eng

/apps/studio/ @supabase/Dashboard

# temporary until we've ironed out all the problems with sync workflow
/apps/docs/content/troubleshooting/ @charislam

/apps/www/ @supabase/marketing
/apps/www/public/images/blog @supabase/marketing
/apps/www/lib/redirects.js

/docker/ @supabase/dev-workflows

/apps/studio/csp.js                                                 @supabase/security
/apps/studio/components/interfaces/Billing/Payment                  @supabase/security
/apps/studio/components/interfaces/Organization/BillingSettings/    @supabase/security
/apps/studio/components/interfaces/Organization/Documents/          @supabase/security
/apps/studio/pages/new/index.tsx                                    @supabase/security

reduce color combos
  apps/www/components/LaunchWeek/15/Ticketing/LW15TicketPage.tsx
  apps/www/components/LaunchWeek/15/Ticketing/colors.ts
Owners: @supabase/marketing

Fix another issue when the project and mismatched org.
  apps/studio/components/ui/AIAssistantPanel/AIAssistant.tsx
  apps/studio/data/organizations/organizations-query.ts
  apps/studio/data/projects/projects-query.ts
  apps/studio/pages/api/ai/sql/generate-v4.ts
Owners: @supabase/Dashboard

feat(docs): add scaffolding for iceberg docs
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/content/guides/storage/iceberg-authentication.mdx
  apps/docs/content/guides/storage/iceberg-pyiceberg.mdx
  apps/docs/content/guides/storage/iceberg-rest-catalog.mdx
  apps/docs/content/guides/storage/iceberg-spark.mdx
  apps/docs/content/guides/storage/iceberg.mdx
Owners: none

Fix a type error.
  apps/studio/data/projects/projects-query.ts
Owners: @supabase/Dashboard

add announcement banners
  apps/docs/features/app.providers.tsx
  apps/www/components/Hero/Hero.tsx
  apps/www/components/LaunchWeek/15/Ticketing/LW15LandingPage.tsx
  apps/www/components/LaunchWeek/15/Ticketing/LW15Ticket.tsx
  apps/www/components/Nav/index.tsx
  apps/www/public/images/launchweek/15/lw15-galaxy.png
  packages/common/constants/local-storage.ts
  packages/ui-patterns/Banners/AnnouncementBanner.tsx
  packages/ui-patterns/Banners/LW15Banner.tsx
  packages/ui-patterns/Banners/SOSBanner.tsx
  packages/ui-patterns/index.tsx
  packages/ui-patterns/src/Banners/data.json
  packages/ui-patterns/src/PromoToast/PromoToast.tsx
Owners: @supabase/marketing

hide announcement banner in lw pages
  apps/www/components/Nav/index.tsx
  packages/ui-patterns/Banners/LW15Banner.tsx
Owners: @supabase/marketing

opt in tags (#36885)
  apps/studio/components/ui/AIAssistantPanel/AIAssistant.tsx
  apps/studio/data/organizations/organizations-query.ts
  apps/studio/data/projects/projects-query.ts
  apps/studio/pages/api/ai/sql/generate-v4.ts
Owners: @supabase/Dashboard

opt in tags (#36885)
  apps/studio/components/ui/AIAssistantPanel/AIAssistant.tsx
  apps/studio/data/organizations/organizations-query.ts
  apps/studio/data/projects/projects-query.ts
  apps/studio/pages/api/ai/sql/generate-v4.ts
Owners: @supabase/Dashboard

wip
  apps/studio/components/interfaces/Functions/EdgeFunctionDetails/EdgeFunctionDetails.tsx
  apps/studio/components/interfaces/JwtSecrets/algorithm-details.ts
  apps/studio/components/interfaces/JwtSecrets/algorithm-hover-card.tsx
  apps/studio/components/interfaces/JwtSecrets/jwt-secret-keys-table/action-panel.tsx
  apps/studio/components/interfaces/JwtSecrets/jwt-secret-keys-table/create-key-dialog.tsx
  apps/studio/components/interfaces/JwtSecrets/jwt-secret-keys-table/index.tsx
  apps/studio/components/interfaces/JwtSecrets/jwt-secret-keys-table/key-details-dialog.tsx
  apps/studio/components/interfaces/JwtSecrets/jwt-secret-keys-table/rotate-key-dialog.tsx
  apps/studio/components/interfaces/JwtSecrets/jwt-secret-keys-table/signing-key-row.tsx
Owners: @supabase/Dashboard

feat(docs): new branching docs
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/content/guides/deployment/branching.mdx
  apps/docs/content/guides/deployment/branching/configuration.mdx
  apps/docs/content/guides/deployment/branching/github-integration.mdx
  apps/docs/content/guides/deployment/branching/gitless-branching.mdx
  apps/docs/content/guides/deployment/branching/integrations.mdx
  apps/docs/content/guides/deployment/branching/troubleshooting.mdx
  apps/docs/content/guides/deployment/branching/working-with-branches.mdx
Owners: none

style: fix lint and formatting issues
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/content/guides/deployment/branching.mdx
  apps/docs/content/guides/deployment/branching/branching-2.mdx
  apps/docs/content/guides/deployment/branching/github-integration.mdx
  apps/docs/content/guides/deployment/branching/working-with-branches.mdx
Owners: none

docs(realtime error codes)
  apps/docs/content/errorCodes/authErrorCodes.toml
  apps/docs/content/errorCodes/realtimeErrorCodes.toml
  apps/docs/content/guides/auth/debugging/error-codes.mdx
  apps/docs/content/guides/realtime/error_codes.mdx
  apps/docs/features/docs/MdxBase.shared.tsx
  apps/docs/features/ui/ErrorCodes.tsx
  apps/docs/resources/error/errorSync.ts
  apps/docs/resources/error/errorTypes.ts
Owners: none

Change path to pathname in storage unified logs query (#36785)
  apps/studio/components/interfaces/UnifiedLogs/UnifiedLogs.queries.ts
Owners: @supabase/Dashboard

Change path to pathname in storage unified logs query (#36785)
  apps/studio/components/interfaces/UnifiedLogs/UnifiedLogs.queries.ts
Owners: @supabase/Dashboard

o11y(docs): more descriptive errors
  apps/docs/app/api/utils.ts
Owners: none

docs(realtime error codes) (#36891)
  apps/docs/content/errorCodes/authErrorCodes.toml
  apps/docs/content/errorCodes/realtimeErrorCodes.toml
  apps/docs/content/guides/auth/debugging/error-codes.mdx
  apps/docs/content/guides/realtime/error_codes.mdx
  apps/docs/features/docs/MdxBase.shared.tsx
  apps/docs/features/ui/ErrorCodes.tsx
  apps/docs/resources/error/errorSync.ts
  apps/docs/resources/error/errorTypes.ts
Owners: none

docs(realtime error codes) (#36891)
  apps/docs/content/errorCodes/authErrorCodes.toml
  apps/docs/content/errorCodes/realtimeErrorCodes.toml
  apps/docs/content/guides/auth/debugging/error-codes.mdx
  apps/docs/content/guides/realtime/error_codes.mdx
  apps/docs/features/docs/MdxBase.shared.tsx
  apps/docs/features/ui/ErrorCodes.tsx
  apps/docs/resources/error/errorSync.ts
  apps/docs/resources/error/errorTypes.ts
Owners: none

Add db wrappers open in dashboard cta
  apps/docs/app/guides/database/extensions/wrappers/[[...slug]]/page.tsx
Owners: none

Add guide template components with flexible content positioning
  apps/docs/app/guides/database/extensions/wrappers/[[...slug]]/page.tsx
  apps/docs/features/docs/GuidesMdx.template.tsx
Owners: none

Restore getLatestRelease return to null
  apps/docs/app/guides/database/extensions/wrappers/[[...slug]]/page.tsx
Owners: none

Add GuideTemplate component and do some clean up
  apps/docs/app/guides/ai/[[...slug]]/page.tsx
  apps/docs/app/guides/database/extensions/wrappers/[[...slug]]/page.tsx
  apps/docs/features/docs/GuidesMdx.template.tsx
  apps/docs/features/ui/GuideTemplate.tsx
  apps/docs/features/ui/guide/GuideMdxContent.tsx
Owners: none

Add Guide components with composition pattern
  apps/docs/app/guides/database/extensions/wrappers/[[...slug]]/page.tsx
  apps/docs/features/docs/GuidesMdx.template.tsx
  apps/docs/features/ui/guide/Guide.tsx
  apps/docs/features/ui/guide/GuideArticle.tsx
  apps/docs/features/ui/guide/GuideFooter.tsx
  apps/docs/features/ui/guide/GuideHeader.tsx
  apps/docs/features/ui/guide/GuideMdxContent.tsx
  apps/docs/features/ui/guide/index.ts
Owners: none

Remove default branch on tag value
  apps/docs/app/guides/database/extensions/wrappers/[[...slug]]/page.tsx
Owners: none

o11y(docs): more descriptive errors (#36892)
  apps/docs/app/api/utils.ts
Owners: none

o11y(docs): more descriptive errors (#36892)
  apps/docs/app/api/utils.ts
Owners: none

Restore original GuideTemplate
  apps/docs/app/guides/ai/[[...slug]]/page.tsx
Owners: none

Clean up code and unused props
  apps/docs/app/guides/database/extensions/wrappers/[[...slug]]/page.tsx
  apps/docs/features/ui/GuideTemplate.tsx
  apps/docs/features/ui/guide/Guide.tsx
Owners: none
