Repository supabase/supabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @roryw10, @kevcodez, @supabase/Dashboard, @supabase/Website, @supabase/cli

.github/CODEOWNERS:

/packages/shared-data/pricing.ts @roryw10 @kevcodez
/packages/shared-data/plans.ts @roryw10 @kevcodez

/apps/studio/ @supabase/Dashboard
/apps/www/ @supabase/Website
/docker/ @supabase/cli

Add placeholder message after sending prompt
  apps/studio/components/interfaces/Auth/Policies/AIPolicyEditorPanel/AIPolicyChat.tsx
  apps/studio/components/interfaces/Auth/Policies/AIPolicyEditorPanel/Message.tsx
Owners: @supabase/Dashboard

Small style
  apps/studio/components/interfaces/Auth/Policies/PolicyTableRow/PolicyRow.tsx
Owners: @supabase/Dashboard

design PromoToast
  apps/docs/pages/_app.tsx
  packages/ui/src/components/PromoToast/PromoBg.tsx
  packages/ui/src/components/PromoToast/PromoToast.tsx
Owners: none

Update apps/docs/pages/guides/database/extensions/wrappers/overview.mdx
  apps/docs/pages/guides/database/extensions/wrappers/overview.mdx
Owners: none

promoToast in docs
  apps/docs/pages/_app.tsx
Owners: none

fix referral link
  apps/www/pages/launch-week/tickets/[username].tsx
Owners: @supabase/Website

Remove maximum version constraint for npm and node engines
  package-lock.json
  package.json
Owners: none

Remove maximum version constraint for npm and node engines (#19251)
  package-lock.json
  package.json
Owners: none

Remove maximum version constraint for npm and node engines (#19251)
  package-lock.json
  package.json
Owners: none

working user selector
  apps/studio/components/interfaces/Auth/Users/UserListItem.utils.ts
  apps/studio/components/interfaces/GraphQL/GraphiQL.tsx
  apps/studio/components/interfaces/RoleImpersonationSelector/Icons.tsx
  apps/studio/components/interfaces/RoleImpersonationSelector/RoleImpersonationPopover.tsx
  apps/studio/components/interfaces/RoleImpersonationSelector/RoleImpersonationRadio.tsx
  apps/studio/components/interfaces/RoleImpersonationSelector/RoleImpersonationSelector.tsx
  apps/studio/components/interfaces/RoleImpersonationSelector/UserImpersonationSelector.tsx
  apps/studio/components/interfaces/SQLEditor/UtilityPanel/UtilityActions.tsx
  apps/studio/components/interfaces/TableGridEditor/GridHeaderActions.tsx
  apps/studio/lib/role-impersonation.ts
Owners: @supabase/Dashboard

fix stuff
  apps/www/components/LaunchWeek/X/LaunchWeekPrizeSection.tsx
  apps/www/components/LaunchWeek/X/Ticket/Ticket.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketingFlow.tsx
  apps/www/lib/constants.ts
  apps/www/pages/launch-week/tickets/[username].tsx
  apps/www/supabase/functions/lwx-ticket-og/handler.tsx
  apps/www/supabase/functions/lwx-ticket/handler.tsx
Owners: @supabase/Website

Bump the OpenAI lib version to v4 in the docs app.
  apps/docs/package.json
  apps/docs/scripts/search/generate-embeddings.ts
  package-lock.json
Owners: none

update og functions
  apps/www/supabase/functions/lwx-ticket-og/handler.tsx
  apps/www/supabase/functions/lwx-ticket/handler.tsx
Owners: @supabase/Website

update og functions
  apps/www/supabase/functions/lwx-ticket/handler.tsx
Owners: @supabase/Website

update PT timezone shift
  apps/www/components/LaunchWeek/X/Ticket/TicketActions.tsx
  apps/www/lib/constants.ts
Owners: @supabase/Website

adds loading and error states to user selector
  apps/studio/components/interfaces/RoleImpersonationSelector/UserImpersonationSelector.tsx
Owners: @supabase/Dashboard

nicer popover button
  apps/studio/components/interfaces/RoleImpersonationSelector/RoleImpersonationPopover.tsx
  apps/studio/components/interfaces/RoleImpersonationSelector/RoleImpersonationSelector.tsx
  apps/studio/components/interfaces/RoleImpersonationSelector/UserImpersonationSelector.tsx
  apps/studio/components/interfaces/SQLEditor/UtilityPanel/UtilityActions.tsx
Owners: @supabase/Dashboard

default graphiql to use service role key
  apps/studio/pages/project/[ref]/api/graphiql.tsx
Owners: @supabase/Dashboard

serverless apis -> data apis
  apps/docs/pages/guides/api/api-keys.mdx
  apps/docs/pages/guides/api/joins-and-nesting.mdx
  apps/docs/pages/guides/api/securing-your-api.mdx
  apps/docs/pages/guides/api/using-custom-schemas.mdx
Owners: none

capitalization fix
  apps/docs/pages/guides/api/joins-and-nesting.mdx
Owners: none

update ticketing flow layout
  apps/www/components/LaunchWeek/X/LWXBackground.tsx
  apps/www/components/LaunchWeek/X/LaunchWeekPrizeSection.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketActions.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketContainer.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketForm.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketPresence.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketingFlow.tsx
  apps/www/public/images/launchweek/lwx/swag/lwx_keyboard_preview.png
Owners: @supabase/Website

update ticketing flow layout
  apps/www/components/LaunchWeek/X/Ticket/TicketContainer.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketingFlow.tsx
  apps/www/public/images/launchweek/lwx/swag/lwx_keyboard.png
Owners: @supabase/Website

prefetch right user link
  apps/www/components/LaunchWeek/X/Ticket/TicketForm.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketingFlow.tsx
Owners: @supabase/Website

docs: update auth-apple.mdx
  apps/docs/pages/guides/auth/social-login/auth-apple.mdx
Owners: none

toggle ticket customization form
  apps/www/components/LaunchWeek/X/Ticket/Ticket.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketContainer.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketCustomizationForm.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketProfile.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketingFlow.tsx
  apps/www/components/LaunchWeek/hooks/use-conf-data.ts
  apps/www/pages/launch-week/index.tsx
Owners: @supabase/Website

update og regular bg
  apps/www/supabase/functions/lwx-ticket/handler.tsx
Owners: @supabase/Website

chore: update privacy policy
  apps/www/pages/privacy-231017.mdx
  apps/www/pages/privacy.mdx
Owners: @supabase/Website

remove lwx title when ticket
  apps/www/components/LaunchWeek/X/Ticket/Ticket.tsx
  apps/www/components/LaunchWeek/X/Ticket/TicketingFlow.tsx
Owners: @supabase/Website

fix: add endline for old privacy doc
  apps/www/pages/privacy-231017.mdx
Owners: @supabase/Website

remove edit button on ticket in share page
  apps/www/components/LaunchWeek/X/LaunchWeekPrizeSection.tsx
  apps/www/components/LaunchWeek/X/Ticket/Ticket.tsx
Owners: @supabase/Website

docs: update auth-apple.mdx (#19257)
  apps/docs/pages/guides/auth/social-login/auth-apple.mdx
Owners: none

docs: update auth-apple.mdx (#19257)
  apps/docs/pages/guides/auth/social-login/auth-apple.mdx
Owners: none

Docs: Rename `serverless apis` to `data apis` (#19256)
  apps/docs/pages/guides/api/api-keys.mdx
  apps/docs/pages/guides/api/joins-and-nesting.mdx
  apps/docs/pages/guides/api/securing-your-api.mdx
  apps/docs/pages/guides/api/using-custom-schemas.mdx
Owners: none

Docs: Rename `serverless apis` to `data apis` (#19256)
  apps/docs/pages/guides/api/api-keys.mdx
  apps/docs/pages/guides/api/joins-and-nesting.mdx
  apps/docs/pages/guides/api/securing-your-api.mdx
  apps/docs/pages/guides/api/using-custom-schemas.mdx
Owners: none

remove sections without headings or slugs
  packages/ui/src/components/Command/DocsSearch.tsx
Owners: none

refactor: squash migrations
  supabase/functions/search-fts/index.ts
  supabase/migrations/20231120190236_add_text_search_tokens.sql
  supabase/migrations/20231120210613_fix_fts_search_function.sql
  supabase/migrations/20231120211019_fix_fts_search_function_2.sql
  supabase/migrations/20231120211237_fix_fts_search_function_3.sql
Owners: none

feat: add fts search endpoint
  supabase/functions/search-fts/index.ts
  supabase/functions/search-v2/index.ts
  supabase/migrations/20231120190236_add_text_search_tokens.sql
  supabase/migrations/20231120210613_fix_fts_search_function.sql
  supabase/migrations/20231120211019_fix_fts_search_function_2.sql
  supabase/migrations/20231120211237_fix_fts_search_function_3.sql
Owners: none

feat: search immediately on enter press
  packages/ui/src/components/Command/CommandMenu.tsx
  packages/ui/src/components/Command/CommandMenuProvider.tsx
  packages/ui/src/components/Command/DocsSearch.tsx
  packages/ui/src/lib/utils/cancellableDebounce.ts
  packages/ui/src/lib/utils/index.ts
Owners: none

fix: fix bug with stale results displaying
  packages/ui/src/components/Command/DocsSearch.tsx
Owners: none

refactor: regenerate types
  supabase/functions/common/database-types.ts
Owners: none
