Repository supabase/supabase, pull requests merged in 2022-10, with the labels that each got.

#9166 Azure Auth settings
  studio/stores/authConfig/schema/AuthProviders/AuthProvidersFormValidation.tsx
  studio/stores/jsonSchema/auth_gotrue_config.json
Labels: dashboard

#9526 Update working-with-types.md
  apps/reference/_supabase_js/working-with-types.md
Labels: hacktoberfest, hacktoberfest-accepted

#9959 Docs: add remix auth helper docs
  apps/reference/docs/guides/auth/auth-helpers/index.mdx
  apps/reference/docs/guides/auth/auth-helpers/remix.mdx
  apps/reference/docs/guides/features.mdx
  apps/reference/nav/_referenceSidebars.js
  apps/temp-docs/components/Navigation/Navigation.constants.ts
  apps/temp-docs/docs/guides/auth/auth-helpers/index.mdx
  apps/temp-docs/docs/guides/features.mdx
Labels: documentation
