Repository supabase/supabase, pull requests merged in 2023-11, with the labels that each got.

#18713 Update oauth-with-pkce-flow-for-ssr.mdx
  apps/docs/pages/guides/auth/server-side/oauth-with-pkce-flow-for-ssr.mdx
Labels: documentation

#18746 Fixed docs CLI config layout right side navigator
  apps/docs/pages/guides/cli/config.tsx
Labels: documentation

#16077 Fix: Change SMS_TEMPLATE field from input to textarea
  packages/ui/src/components/Input/Input.tsx
  studio/components/interfaces/Auth/AuthProvidersForm/FormField.tsx
  studio/stores/authConfig/schema/AuthProviders/AuthProvidersFormValidation.tsx
Labels: dashboard

#18852 Docs: New guide for importing large datasets
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/pages/guides/database/large-datasets.mdx
Labels: documentation

#15588 fix: close mobile menu on click
  apps/docs/DEVELOPERS.md
  apps/docs/components/Navigation/NavigationMenu/NavigationMenuRefListItems.tsx
  apps/docs/layouts/SiteLayout.tsx
Labels: documentation

#19093 Bugfix - Stop scrollbar from showing on BlogListItem image hover
  apps/www/components/Blog/BlogListItem.tsx
Labels: supabase.com

#19131 Docs: fix link in LangChain doc
  apps/docs/pages/guides/ai/langchain.mdx
Labels: documentation

#19018 Add note on disk downsizing when updating
  apps/docs/pages/guides/platform/database-size.mdx
  apps/docs/pages/guides/platform/migrating-and-upgrading-projects.mdx
Labels: documentation
