Repository supabase/supabase, pull requests merged in 2023-08, with the labels that each got.

#16198 Update: Vonage docs
  apps/docs/pages/guides/auth/phone-login/vonage.mdx
Labels: documentation, auth

#16257 Fix: wrappers link in the dashboard
  studio/components/interfaces/Database/Wrappers/WrappersDisabledState.tsx
Labels: dashboard

#16098 feat(schema visualizer): legends for null, unique, identity & update
  studio/components/interfaces/Database/Schemas/SchemaGraph.tsx
Labels: dashboard

#16239 docs(auth): social-login/Google - Nonce hashing requirement for successful validation
  apps/docs/pages/guides/auth/social-login/auth-google.mdx
Labels: auth

#16453 Enable "Schemas" and "Wrappers" Dashboard nav items in self-hosted instances of Studio
  package.json
  studio/components/layouts/DatabaseLayout/DatabaseLayout.tsx
  studio/components/layouts/DatabaseLayout/DatabaseMenu.utils.ts
Labels: dashboard

#15491 fix: related articles list showing current article
  apps/www/lib/helpers.tsx
  apps/www/lib/posts.tsx
  apps/www/pages/alternatives/[slug].tsx
  apps/www/pages/blog.tsx
  apps/www/pages/blog/[slug].tsx
  apps/www/pages/blog/tags/[tag].tsx
  apps/www/pages/customers/[slug].tsx
  apps/www/pages/customers/index.tsx
  apps/www/pages/index.tsx
Labels: supabase.com

#16688 Twitter logo updated as new 'X' logo #16671
  apps/www/components/Footer/index.tsx
Labels: supabase.com

#15326 [Supabase Studio] Fix web manifest unauthorized fetch
  studio/components/head/Favicons.tsx
Labels: dashboard
