Repository supabase/supabase, pull requests merged in 2023-07, with the labels that each got.

#15481 Update README.md
  README.md
Labels: auth

#15221 Add environment variables substitution for kong.yml
  apps/docs/pages/guides/self-hosting/docker.mdx
  docker/docker-compose.yml
  docker/volumes/api/kong.yml
Labels: self-hosted

#15699 Updated Bracket's description to include Hubspot and Salesforce
  apps/docs/pages/guides/integrations/bracket.mdx
Labels: documentation

#15397 fix: updated font size for better a11y
  apps/www/pages/pricing/index.tsx
Labels: supabase.com
