Repository supabase/supabase, pull requests merged in 2023-06, with the labels that each got.

#15024 chore: PITR and payment method improvements
  studio/components/interfaces/BillingV2/Subscription/AddOns/ComputeInstanceSidePanel.tsx
  studio/components/interfaces/BillingV2/Subscription/Tier/SubscriptionPaymentMethod.tsx
  studio/components/interfaces/BillingV2/Subscription/Tier/SubscriptionTier.tsx
Labels: dashboard

#15020 Add missing export let data in example
  apps/docs/pages/guides/auth/auth-helpers/sveltekit.mdx
Labels: documentation

#15109 Add option to show 7 days worth of report metrics
  studio/lib/constants/metrics.tsx
  studio/pages/project/[ref]/reports/database.tsx
Labels: dashboard

#15112 Update wording on disk io as ui will show consumption instead of balance
  apps/docs/pages/guides/platform/compute-add-ons.mdx
  apps/docs/pages/guides/platform/performance.mdx
  apps/docs/pages/guides/platform/troubleshooting.mdx
Labels: documentation

#15116 Update `master` with `studio`
  studio/lib/gotrue.ts
Labels: dashboard

#15206 Docs: Update links in exhaust cpu
  apps/docs/pages/guides/platform/exhaust-cpu.mdx
Labels: documentation

#15292 Dashboard: link to client lib docs from API keys section
  studio/components/ui/ProjectSettings/DisplayApiSettings.tsx
Labels: dashboard

#14882 Updating queries on the homepage
  apps/www/data/home/api-examples.js
Labels: enhancement
