Repository supabase/supabase, pull requests merged in 2024-03, with the labels that each got.

#21432 Update with-svelte.mdx
  apps/docs/content/guides/getting-started/tutorials/with-svelte.mdx
Labels: autofix

#21749 Add a logging/debugging section to database function docs
  apps/docs/content/guides/database/functions.mdx
Labels: documentation

#21774 fix: handle non-dates in chart header label
  apps/studio/components/ui/Charts/BarChart.tsx
Labels: dashboard

#22103 chore: add more opengraph to docs
  apps/docs/layouts/guides/index.tsx
  apps/docs/lib/constants.ts
  apps/docs/pages/_app.tsx
Labels: documentation

#20027 Add docs page on high swap usage
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/pages/guides/platform/exhaust-swap.mdx
Labels: autofix, autofix-squash

#22269 docs: add new methods to Swift docs
  apps/docs/spec/supabase_swift_v2.yml
Labels: documentation
