Repository supabase/supabase, pull requests merged in 2024-10, with the labels that each got.

#29623 Adding Humata case study
  apps/www/_customers/humata.mdx
  apps/www/public/images/customers/logos/humata.png
  apps/www/public/images/customers/logos/light/humata.png
Labels: autofix

#29166 feat: New connection management docs
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/content/guides/database/connecting-to-postgres.mdx
  apps/docs/content/guides/database/connection-management.mdx
  apps/docs/content/guides/database/dbeaver.mdx
  apps/docs/content/guides/database/drizzle.mdx
  apps/docs/content/guides/database/pgadmin.mdx
  apps/docs/content/guides/database/postgres-js.mdx
  apps/docs/content/guides/database/prisma.mdx
  apps/docs/content/guides/database/prisma/prisma-troubleshooting.mdx
  apps/docs/content/guides/database/psql.mdx
  apps/docs/content/guides/database/supavisor.mdx
  apps/docs/content/guides/platform/ipv4-address.mdx
  apps/docs/public/img/database/grafana-connections.png
  apps/docs/public/img/database/pool-size.png
  apps/docs/public/img/database/session-mode.png
  apps/docs/public/img/database/transaction-mode.png
  apps/docs/public/img/guides/database/connecting-to-postgres/dbeaver/certificate.png
  apps/docs/public/img/guides/database/connecting-to-postgres/dbeaver/filling_credentials.png
  apps/docs/public/img/guides/database/connecting-to-postgres/dbeaver/finished.png
  apps/docs/public/img/guides/database/connecting-to-postgres/dbeaver/new_database_connection.png
  apps/docs/public/img/guides/database/connecting-to-postgres/dbeaver/select_postgres.png
  apps/docs/public/img/guides/database/connecting-to-postgres/dbeaver/session_mode.png
  apps/docs/public/img/guides/database/connecting-to-postgres/dbeaver/ssl_tab.png
  apps/www/lib/redirects.js
  vale/styles/config/vocabularies/Supabase/accept.txt
Labels: documentation, supavisor

#29699 Update prisma.mdx | rewrite links
  apps/docs/content/guides/database/prisma.mdx
Labels: documentation

#29690 Update custom-postgres-config.mdx | fixed links
  apps/docs/content/guides/database/custom-postgres-config.mdx
Labels: documentation

#29749 Update telemetry calls for docs to support PH
  apps/docs/features/telemetry/telemetry.client.tsx
  apps/docs/lib/fetch/fetchWrappers.ts
  apps/docs/lib/telemetry.ts
  apps/www/lib/fetchWrapper.ts
  apps/www/lib/telemetry.ts
  apps/www/pages/_app.tsx
  packages/common/constants/local-storage.ts
  packages/common/fetchWrappers.tsx
  packages/common/hooks/useTelemetryProps.ts
  packages/common/telemetry.ts
  packages/ui-patterns/PrivacySettings/index.tsx
Labels: do-not-merge

#28978 chore: Update RateLimits.tsx
  apps/studio/components/interfaces/Auth/RateLimits/RateLimits.tsx
Labels: autofix

#29984 updated pg_net docs | outlines configuration process
  apps/docs/content/guides/database/extensions/pg_net.mdx
Labels: documentation

#29983 added vercel-postgres migration guide 'Migrate from Vercel Postgres t…
  apps/docs/app/page.tsx
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/content/guides/platform/migrating-to-supabase.mdx
  apps/docs/content/guides/platform/migrating-to-supabase/vercel-postgres.mdx
  apps/docs/public/img/icons/vercel-icon-light.svg
  apps/docs/public/img/icons/vercel-icon.svg
Labels: autofix

#30150 Update advanced-log-filtering.mdx | fixed small typo
  apps/docs/content/guides/monitoring-troubleshooting/advanced-log-filtering.mdx
Labels: documentation
