Repository supabase/supabase, pull requests merged in 2024-01, with the labels that each got.

#20154 Fix Navbar unusable in smaller res screens
  apps/studio/components/layouts/ProjectLayout/NavigationBar/NavigationBar.tsx
Labels: dashboard

#20187 fix: hide audit logs filter unless it's Team Plan
  apps/studio/components/interfaces/Organization/AuditLogs/AuditLogs.tsx
Labels: dashboard

#20107 Docs: Improve edge functions debugging guide
  apps/docs/pages/guides/functions/debugging.mdx
Labels: documentation

#20258 Doc: fix cpu limit in edge functions debugging guide
  apps/docs/pages/guides/functions/debugging.mdx
Labels: documentation

#20268 Chore/update tailwind 3.4.1
  apps/studio/package.json
  package-lock.json
  packages/config/package.json
  packages/ui/package.json
Labels: dashboard

#20261 Feature: allow users to copy the selected cell value
  apps/studio/components/grid/components/grid/Grid.tsx
Labels: dashboard

#20428 Docs: fix code block format in Edge Functions debugging guide
  apps/docs/pages/guides/functions/debugging.mdx
Labels: documentation

#20343 Feat: add log explorer query update and deletion
  apps/studio/components/interfaces/Auth/Users/UserDropdown.tsx
  apps/studio/components/interfaces/Settings/Logs/Logs.SavedQueriesItem.tsx
  apps/studio/components/interfaces/Settings/Logs/Logs.UpdateSavedQueryModal.tsx
  apps/studio/pages/project/[ref]/logs/explorer/index.tsx
Labels: dashboard

#20447 chore: migrate tabs component to new NavMenu component
  apps/studio/components/interfaces/Settings/Vault/VaultNavTabs.tsx
  apps/studio/pages/project/[ref]/settings/vault/keys.tsx
  apps/studio/pages/project/[ref]/settings/vault/secrets.tsx
  packages/ui/index.tsx
  packages/ui/src/components/NavMenu/index.tsx
  packages/ui/src/components/shadcn/ui/tabs/tabs.tsx
Labels: dashboard

#20580 fix: add schema name to url query params
  apps/studio/components/interfaces/TableGridEditor/GridHeaderActions.tsx
Labels: dashboard

#20570 fix: add ref, a11y fix and forward ref
  packages/ui/src/components/NavMenu/index.tsx
  packages/ui/src/components/NavMenu/nav-menu.test.tsx
Labels: dashboard

#20552 chore: use new nav in database backups page
  apps/studio/components/interfaces/Database/Backups/DatabaseBackupsNav.tsx
  apps/studio/pages/project/[ref]/database/backups/pitr.tsx
  apps/studio/pages/project/[ref]/database/backups/scheduled.tsx
Labels: dashboard

#20549 chore: use new menu component in org tabs
  apps/studio/components/layouts/OrganizationLayout.tsx
Labels: dashboard

#20627 ui fix: rm shadow
  packages/ui/src/components/NavMenu/index.tsx
Labels: dashboard

#20671 fix: copying row values not working
  apps/studio/components/grid/components/grid/Grid.tsx
  apps/studio/hooks/deprecated.ts
Labels: dashboard

#20629 fix(ui): fix datepicker color issues
  apps/studio/components/ui/DatePicker/DatePicker.tsx
  apps/studio/styles/date-picker.scss
Labels: dashboard

#20823 Fix: make banner clickable
  apps/studio/components/layouts/SignInLayout/SignInLayout.tsx
Labels: dashboard

#20853 chore: temporarily disable custom domains
  apps/studio/components/interfaces/Settings/Addons/CustomDomainSidePanel.tsx
  apps/studio/components/interfaces/Settings/General/CustomDomainConfig/CustomDomainConfig.tsx
  apps/studio/components/ui/UpgradeToPro.tsx
Labels: autofix

#20817 chore: better ipv6 migration notices
  apps/studio/components/interfaces/App/AppBannerWrapperContext.tsx
  apps/studio/components/layouts/AppLayout/NoticeBanner.tsx
  apps/studio/lib/constants/index.ts
  supabase/migrations/20240129101115_add_ipv6_active_status_rpc.sql
Labels: autofix
