Repository supabase/supabase, pull requests merged in 2024-11, with the labels that each got.

#30281 Update pg_net.mdx
  apps/docs/content/guides/database/extensions/pg_net.mdx
Labels: documentation

#30366 Update DisplayApiSettings.tsx | add note on how to rotate service_rol…
  apps/studio/components/ui/ProjectSettings/DisplayApiSettings.tsx
Labels: frontend

#30421 fix: autofix action
  .github/workflows/autofix_linters.yml
  apps/docs/app/api/ai/docs/route.ts
Labels: autofix

#30414 Update pgvector.mdx (for 0.8.0)
  apps/docs/content/guides/database/extensions/pgvector.mdx
Labels: autofix

#29985 Update custom-postgres-config.mdx | added pg_net variables to "configurable list"
  apps/docs/content/guides/database/custom-postgres-config.mdx
Labels: documentation, autofix

#30229 Update pgsodium.mdx | add note about vault
  apps/docs/content/guides/database/extensions/pgsodium.mdx
Labels: documentation, autofix

#30609 Update prisma.mdx | numbered list correctly
  apps/docs/content/guides/database/prisma.mdx
Labels: documentation, autofix

#30662 docs: improve connection docs
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/content/guides/database/connecting-to-postgres.mdx
  apps/www/lib/redirects.js
Labels: autofix

#30719 Update pg_net.mdx | fixed typo in code, improved language
  apps/docs/content/guides/database/extensions/pg_net.mdx
Labels: documentation, autofix
