Repository supabase/supabase, pull requests merged in 2024-04, with the labels that each got.

#22387 Update functions.mdx | Fixed broken link
  apps/docs/content/guides/database/functions.mdx
Labels: documentation

#22577 Update database-size.mdx | added more directions on how to inspect bloat and clear dead tuples
  apps/docs/content/guides/platform/database-size.mdx
Labels: documentation

#22602 Docs: update Full Text Search doc
  apps/docs/content/guides/database/full-text-search.mdx
Labels: documentation

#22693 feat: connect flutter example
  apps/studio/components/interfaces/Home/Connect/Connect.constants.ts
  apps/studio/components/interfaces/Home/Connect/content/flutter/supabaseflutter/content.tsx
Labels: autofix

#22374 Enhanced useHash.ts hook ^^
  apps/docs/hooks/useHash.ts
Labels: autofix

#22895 fix: open connection string docs link in new tab
  apps/studio/components/interfaces/Settings/Database/DatabaseSettings/DatabaseConnectionString.tsx
Labels: autofix, autofix-squash

#23298 Fix: Feedback widget content
  apps/studio/components/layouts/ProjectLayout/LayoutHeader/FeedbackDropdown/FeedbackWidget.tsx
Labels: dashboard

#23421 docs(database): remove useless ";" character (#23420)
  apps/docs/content/guides/database/arrays.mdx
Labels: documentation, pr-opened
