Repository supabase/supabase, pull requests merged in 2024-05, with the labels that each got.

#25881 Update routing.mdx
  apps/docs/content/guides/functions/routing.mdx
Labels: autofix

#22642 Add clarification for Read Replicas and Custom Domains
  apps/docs/content/guides/platform/read-replicas.mdx
Labels: documentation, autofix

#26571 Add note about security definer views
  apps/docs/content/guides/database/tables.mdx
Labels: documentation, docs
