Repository supabase/supabase, pull requests merged in 2024-07, with the labels that each got.

#27683 Added warning about vacuum full
  apps/docs/content/guides/platform/database-size.mdx
Labels: documentation, docs

#27664 docs: Add crypto package for Apple sign-in functionality
  apps/docs/content/guides/auth/social-login/auth-apple.mdx
  apps/docs/spec/supabase_dart_v2.yml
Labels: autofix

#27743 Truncate project names in popover
  apps/studio/pages/new/[slug].tsx
Labels: frontend

#27910 update Metrics doc page to include a prometheus configuration example
  apps/docs/content/guides/platform/metrics.mdx
Labels: autofix

#27761 feat: command menu v2 ui components
  apps/design-system/__registry__/index.tsx
  apps/design-system/config/docs.ts
  apps/design-system/content/docs/components/commandmenu.mdx
  apps/design-system/registry/default/example/commandmenu-badge.tsx
  apps/design-system/registry/default/example/commandmenu-conditional.tsx
  apps/design-system/registry/default/example/commandmenu-demo.tsx
  apps/design-system/registry/default/example/commandmenu-force.tsx
  apps/design-system/registry/default/example/commandmenu-hidden.tsx
  apps/design-system/registry/default/example/commandmenu-icon.tsx
  apps/design-system/registry/default/example/commandmenu-subpage-custom.tsx
  apps/design-system/registry/default/example/commandmenu-subpage.tsx
  apps/design-system/registry/examples.ts
  package-lock.json
  packages/common/hooks/useDragToClose.tsx
  packages/ui-patterns/CommandMenu/api/Badges.tsx
  packages/ui-patterns/CommandMenu/api/CommandInput.tsx
  packages/ui-patterns/CommandMenu/api/CommandList.tsx
  packages/ui-patterns/CommandMenu/api/CommandMenu.tsx
  packages/ui-patterns/CommandMenu/api/CommandProvider.tsx
  packages/ui-patterns/CommandMenu/api/TextHighlighter.tsx
  packages/ui-patterns/CommandMenu/api/hooks/commandsHooks.test.tsx
  packages/ui-patterns/CommandMenu/api/hooks/commandsHooks.ts
  packages/ui-patterns/CommandMenu/api/hooks/pagesHooks.test.tsx
  packages/ui-patterns/CommandMenu/api/hooks/pagesHooks.ts
  packages/ui-patterns/CommandMenu/api/hooks/useCrossCompatRouter.ts
  packages/ui-patterns/CommandMenu/api/hooks/useHistoryKeys.ts
  packages/ui-patterns/CommandMenu/api/hooks/viewHooks.ts
  packages/ui-patterns/CommandMenu/api/utils.ts
  packages/ui-patterns/CommandMenu/index.tsx
  packages/ui-patterns/CommandMenu/internal/Command.tsx
  packages/ui-patterns/CommandMenu/internal/CommandEmpty.tsx
  packages/ui-patterns/CommandMenu/internal/CommandGroup.tsx
  packages/ui-patterns/CommandMenu/internal/CommandSection.tsx
  packages/ui-patterns/CommandMenu/internal/Context.tsx
  packages/ui-patterns/CommandMenu/internal/state/commandsStates.test.ts
  packages/ui-patterns/CommandMenu/internal/state/pagesState.test.ts
  packages/ui-patterns/CommandMenu/internal/state/viewState.ts
  packages/ui-patterns/jest.config.js
  packages/ui-patterns/package.json
  packages/ui-patterns/vitest.config.ts
  packages/ui-patterns/vitest.setup.ts
  packages/ui/src/layout/ai-icon-animation/ai-icon-animation.tsx
Labels: autofix

#28195 docs: create platform security section for existing security docs
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
Labels: autofix-squash

#28196 docs(quickstarts): add rls policy step
  apps/docs/components/MDX/partials.tsx
  apps/docs/components/MDX/quickstart_db_setup.mdx
  apps/docs/content/guides/getting-started/quickstarts/flutter.mdx
  apps/docs/content/guides/getting-started/quickstarts/ios-swiftui.mdx
  apps/docs/content/guides/getting-started/quickstarts/kotlin.mdx
  apps/docs/content/guides/getting-started/quickstarts/nextjs.mdx
  apps/docs/content/guides/getting-started/quickstarts/nuxtjs.mdx
  apps/docs/content/guides/getting-started/quickstarts/reactjs.mdx
  apps/docs/content/guides/getting-started/quickstarts/refine.mdx
  apps/docs/content/guides/getting-started/quickstarts/solidjs.mdx
  apps/docs/content/guides/getting-started/quickstarts/sveltekit.mdx
  apps/docs/content/guides/getting-started/quickstarts/vue.mdx
  apps/docs/features/docs/MdxBase.shared.tsx
Labels: autofix-squash
