Repository supabase/supabase, pull requests merged in 2024-09, with the labels that each got.

#28799 Add grafana installation docs
  apps/docs/content/guides/platform/metrics.mdx
  apps/docs/public/img/guides/platform/add-credentials-grafana.png
  apps/docs/public/img/guides/platform/create-grafana-stack.png
  apps/docs/public/img/guides/platform/fly-signin.png
  apps/docs/public/img/guides/platform/grafana-login.png
  apps/docs/public/img/guides/platform/grafana-project.png
  apps/docs/public/img/guides/platform/grafana-registration.png
  apps/docs/public/img/guides/platform/select-grafana-dashboard.png
  apps/docs/public/img/guides/platform/supabase-grafana-prometheus.png
  apps/docs/public/img/guides/platform/supabase-grafana-template.png
  vale/styles/config/vocabularies/Supabase/accept.txt
Labels: documentation, analytics

#28932 updated custom postgres configs docs
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/content/guides/database/custom-postgres-config.mdx
  apps/docs/content/guides/platform/custom-postgres-config.mdx
  vale/styles/config/vocabularies/Supabase/accept.txt
Labels: documentation, database

#29182 Carusocv/docs/anon nextjs bug
  apps/docs/content/guides/auth/auth-anonymous.mdx
Labels: documentation

#29147 blog: local-first expo legend-state
  apps/www/_blog/2024-09-23-local-first-expo-legend-state.mdx
  apps/www/lib/authors.json
  apps/www/public/images/blog/local-first-expo-legend_state/local-first-expo-legend_state-thumb.png
Labels: autofix
