Repository supabase/supabase, pull requests merged in 2024-12, with the labels that each got.

#31026 Update connection-management.mdx | removed realtime role
  apps/docs/content/guides/database/connection-management.mdx
Labels: documentation, autofix

#29998 Update pg_net.mdx | fixed links
  apps/docs/content/guides/database/extensions/pg_net.mdx
Labels: documentation, autofix

#31085 added postgres_fdw docs
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/content/guides/database/extensions/postgres_fdw.mdx
  packages/shared-data/extensions.json
  vale/styles/config/vocabularies/Supabase/accept.txt
Labels: documentation, extensions, autofix

#31083 Update structured-unstructured.mdx
  apps/docs/content/guides/ai/structured-unstructured.mdx
Labels: documentation

#31216 update prisma docs
  apps/docs/content/guides/database/prisma.mdx
Labels: documentation

#31211 modified quotes in postgres_fdw docs
  apps/docs/content/guides/database/extensions/postgres_fdw.mdx
Labels: documentation

#31269 blog: add cal.com wasm wrapper blog
  apps/www/_blog/2024-12-20-calendars-in-postgres-using-foreign-data-wrappers.mdx
  apps/www/public/images/blog/2024-12-20-cal-wrapper/01-cal-api-key.png
  apps/www/public/images/blog/2024-12-20-cal-wrapper/02-enable-wrapper-ext.png
  apps/www/public/images/blog/2024-12-20-cal-wrapper/03-query-event-types.png
  apps/www/public/images/blog/2024-12-20-cal-wrapper/04-query-booking.png
  apps/www/public/images/blog/2024-12-20-cal-wrapper/05-make-booking.png
  apps/www/public/images/blog/2024-12-20-cal-wrapper/06-verify-on-cal.png
  apps/www/public/images/blog/2024-12-20-cal-wrapper/07-verify-on-supabase.png
  apps/www/public/images/blog/2024-12-20-cal-wrapper/og-calcom.png
Labels: wrappers
