Repository supabase/supabase, pull requests merged in 2024-08, with the labels that each got.

#28407 chore: simplify autofix
  .github/workflows/autofix_linters.yml
Labels: autofix

#28472 docs: change wrappers docs dir for new docs pages
  apps/docs/app/guides/database/extensions/wrappers/[[...slug]]/page.tsx
Labels: documentation

#28488 Remove statement_timeout from custom-postgres-config.mdx
  apps/docs/content/guides/platform/custom-postgres-config.mdx
Labels: documentation, cli, docs

#28568 Update timeouts.mdx
  apps/docs/content/guides/database/postgres/timeouts.mdx
Labels: docs

#28653 chore: upgrade Snowflake and Paddle wrapper fdw version
  apps/studio/components/interfaces/Database/Wrappers/Wrappers.constants.ts
Labels: wrappers

#27809 Use node 20
  apps/studio/README.md
Labels: autofix

#18331 Docs: update Roles guide to add more info to changing password section
  apps/docs/content/guides/database/postgres/roles.mdx
Labels: documentation

#21561 docs: warn about `user_metadata` used in RLS
  apps/docs/content/guides/database/postgres/row-level-security.mdx
Labels: documentation

#22465 Add resource links to RLS docs pages
  apps/docs/content/guides/database/postgres/row-level-security.mdx
Labels: autofix

#28732 fix/ bg of nav menu
  packages/ui/src/components/NavMenu/index.tsx
Labels: frontend

#28796 chore: add Chris Stockton to humans.txt
  apps/docs/public/humans.txt
Labels: frontend
