Repository supabase/supabase, pull requests merged in 2024-02, with the labels that each got.

#21003 Revert "Feat/sql editor support bulk deletes"
  apps/database-new/tsconfig.json
  apps/docs/generator/tsconfig.json
  apps/docs/internals/tsconfig.json
  apps/docs/scripts/tsconfig.json
  apps/docs/tsconfig.json
  apps/studio/components/interfaces/Settings/Logs/Logs.SavedQueriesItem.tsx
  apps/studio/components/layouts/ProjectLayout/ProductMenuBar.tsx
  apps/studio/components/layouts/SQLEditorLayout/QueryItem.tsx
  apps/studio/components/layouts/SQLEditorLayout/QueryItemActions.tsx
  apps/studio/components/layouts/SQLEditorLayout/SQLEditorLayout.utils.ts
  apps/studio/components/layouts/SQLEditorLayout/SQLEditorMenu.tsx
  apps/studio/components/layouts/TableEditorLayout/TableEditorMenu.tsx
  apps/studio/components/to-be-cleaned/Storage/StorageExplorer/FileExplorerHeaderSelection.tsx
  apps/studio/data/api.d.ts
  apps/studio/data/content/content-delete-mutation.ts
  apps/studio/tsconfig.json
  apps/www/tsconfig.json
Labels: autofix

#21018 fix: add configuration title to settings menu
  apps/studio/components/layouts/ProjectSettingsLayout/SettingsMenu.utils.ts
Labels: dashboard

#21021 chore(logs): add 1hr as default in logs explorer
  apps/studio/components/interfaces/Settings/Logs/Logs.constants.ts
Labels: dashboard

#20907 feat: query performance improvements
  apps/studio/components/interfaces/Reports/ReportHeader.tsx
  apps/studio/components/interfaces/Reports/ReportQueryPerformanceTableRow.tsx
  apps/studio/components/interfaces/Reports/Reports.constants.ts
  apps/studio/components/interfaces/Reports/Reports.queries.ts
  apps/studio/components/interfaces/Reports/Reports.types.ts
  apps/studio/components/ui/CopyButton.tsx
  apps/studio/hooks/analytics/useDbQuery.tsx
  apps/studio/pages/project/[ref]/reports/query-performance.tsx
  package-lock.json
  packages/config/package.json
  packages/config/tailwind.config.js
Labels: dashboard

#21047 fix/logs-kaizen
  apps/studio/components/interfaces/Settings/Logs/LogTable.tsx
Labels: dashboard

#21056 Add "Infrastructure" as a title to the navigation menu in logs
  apps/studio/components/layouts/LogsLayout/LogsMenu.utils.ts
Labels: dashboard

#21066 tweak nextjs guide from feedback
  apps/docs/pages/guides/auth/auth-helpers/nextjs-pages.mdx
  apps/docs/pages/guides/auth/auth-helpers/nextjs.mdx
  apps/docs/pages/guides/auth/server-side/nextjs.mdx
Labels: autofix

#20974 Add Kotlin snippets to postgres docs
  apps/docs/pages/guides/database/extensions/plv8.mdx
  apps/docs/pages/guides/database/extensions/postgis.mdx
  apps/docs/pages/guides/database/full-text-search.mdx
  apps/docs/pages/guides/database/functions.mdx
  apps/docs/pages/guides/database/joins-and-nesting.mdx
  apps/docs/pages/guides/database/json.mdx
  apps/docs/pages/guides/database/tables.mdx
  i18n/README.tr.md
Labels: autofix

#21055 Make the logs explorer look & feel very similar to sql editor
  apps/studio/components/interfaces/Settings/Logs/LogTable.tsx
  apps/studio/components/interfaces/Settings/Logs/LogsQueryPanel.tsx
  apps/studio/pages/project/[ref]/logs/explorer/index.tsx
Labels: dashboard

#20896 Add docs for unsupported operations and replication
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/pages/guides/database/postgres/roles-superuser.mdx
  apps/docs/pages/guides/database/postgres/setup-replication-external.mdx
Labels: autofix

#20833 [docs] Update read-replicas.mdx
  apps/docs/pages/guides/platform/read-replicas.mdx
Labels: documentation

#21116 Feat: CRUD custom reports
  apps/studio/components/interfaces/Reports/GridResize.tsx
  apps/studio/components/interfaces/Reports/Reports.CreateReportModal.tsx
  apps/studio/components/interfaces/Reports/Reports.UpdateModal.tsx
  apps/studio/components/interfaces/Reports/Reports.queries.ts
  apps/studio/components/interfaces/Reports/Reports.tsx
  apps/studio/components/layouts/ReportsLayout/ReportsLayout.tsx
  apps/studio/components/layouts/ReportsLayout/ReportsMenu.tsx
  apps/studio/pages/project/[ref]/reports/[id].tsx
  apps/studio/pages/project/[ref]/reports/index.tsx
Labels: dashboard

#21323 fix overflow in logs explorer
  apps/studio/styles/react-data-grid-logs.scss
Labels: dashboard

#21335 style: center the checkbox to the text
  apps/studio/components/layouts/SQLEditorLayout/QueryItem.tsx
Labels: dashboard

#21363 Fix settings/infrastructure compute instance data
  apps/studio/components/interfaces/Settings/Infrastructure/InfrastructureActivity.tsx
Labels: dashboard

#21346 Fix : The Svelte's image isn' t displayed in the docs #21341
  apps/studio/public/img/libraries/svelte-icon.svg
Labels: documentation, pr-opened

#21337 docs: Update Google sign-in docs for Android(Kotlin) to use credential manager and raw gotrue-kt
  apps/docs/content/guides/auth/social-login/auth-google.mdx
Labels: autofix

#21555 Update profile now uses "avatarUrl" to correctly update avatar_url
  apps/docs/content/guides/getting-started/tutorials/with-react.mdx
Labels: documentation

#21644 Direct users to self-update postgres to display network-restrictions.mdx
  apps/docs/content/guides/platform/network-restrictions.mdx
Labels: documentation
