Repository supabase/supabase, pull requests merged in 2024-06, with the labels that each got.

#27489 [dashboard] chore: tidy Connect button
  apps/studio/components/interfaces/Home/Connect/Connect.tsx
Labels: frontend

#27325 feat: add advisors for self hosted
  apps/studio/components/layouts/ProjectLayout/NavigationBar/NavigationBar.utils.tsx
  apps/studio/pages/api/projects/[ref]/run-lints.ts
Labels: autofix

#27514 docs: add Wrappers API access security suggestion
  apps/docs/content/guides/database/extensions/wrappers/overview.mdx
Labels: documentation

#27332 Renamed Sveltekit Variable from SUPABASE_KEY to SUPABASE_ANON_KEY
  apps/studio/components/interfaces/Home/Connect/content/sveltekit/supabasejs/content.tsx
Labels: frontend
