Repository supabase/supabase, pull requests merged in 2025-08, with the labels that each got.

#37563 feat: update dpa retrieval
  apps/studio/components/interfaces/Organization/Documents/DPA.tsx
  apps/studio/components/interfaces/Organization/Documents/Documents.tsx
  apps/studio/components/interfaces/Organization/Documents/HIPAA.tsx
  apps/studio/components/interfaces/Organization/Documents/SOC2.tsx
  apps/studio/components/interfaces/Organization/Documents/SecurityQuestionnaire.tsx
  apps/studio/components/interfaces/Organization/Documents/TIA.tsx
  apps/studio/components/interfaces/Organization/SSO/SSOConfig.tsx
  apps/studio/components/ui/InlineLink.tsx
  apps/studio/data/documents/dpa-request-mutation.ts
  apps/www/pages/legal/dpa.tsx
  apps/www/public/downloads/docs/Supabase+DPA+250805.pdf
  packages/api-types/types/api.d.ts
  packages/api-types/types/platform.d.ts
  packages/common/telemetry-constants.ts
  packages/ui-patterns/src/Dialogs/TextConfirmModal.tsx
Labels: autofix, do-not-merge

#37752 Add two new blog posts
  apps/docs/content/guides/platform/migrating-to-supabase/firebase-auth.mdx
  apps/docs/content/guides/platform/migrating-to-supabase/firebase-storage.mdx
  apps/docs/content/guides/platform/migrating-to-supabase/firestore-data.mdx
  apps/www/_alternatives/supabase-vs-firebase.mdx
  apps/www/_blog/2025-08-12-supabase-auth-build-vs-buy.mdx
  apps/www/public/images/blog/supabase-auth-build-vs-buy/supabase-auth-build-vs-buy-og.png
  apps/www/public/images/logos/publicity/fixed-width/soshi.svg
  apps/www/public/images/logos/publicity/soshi.svg
  apps/www/public/rss.xml
Labels: autofix

#33533 Update broadcast.mdx | add security definer to example
  apps/docs/content/guides/realtime/broadcast.mdx
Labels: documentation
