Repository supabase/supabase, pull requests merged in 2025-01, with the labels that each got.

#31240 add beekeeper studio to docs
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/content/guides/database/beekeeper-studio.mdx
  apps/docs/public/img/guides/database/connecting-to-postgres/beekeeper-studio/beekeeper-credentials.png
  apps/docs/public/img/guides/database/connecting-to-postgres/beekeeper-studio/certificate-beekeeper.png
  apps/docs/public/img/guides/database/connecting-to-postgres/beekeeper-studio/certificate.png
  apps/docs/public/img/guides/database/connecting-to-postgres/beekeeper-studio/connect.png
  apps/docs/public/img/guides/database/connecting-to-postgres/beekeeper-studio/new-connection.png
Labels: documentation

#30937 migrate(docs): troubleshooting 9
  .prettierignore
  apps/docs/components/Navigation/NavigationMenu/NavigationMenu.constants.ts
  apps/docs/content/troubleshooting/avoiding-timeouts-in-long-running-queries-6nmbdN.mdx
  apps/docs/content/troubleshooting/canceling-statement-due-to-statement-timeout-581wFv.mdx
  apps/docs/content/troubleshooting/edge-function-wall-clock-time-limit-reached-Nk38bW.mdx
  apps/docs/content/troubleshooting/high-latency-with-supabase-client-z0pZzR.mdx
  apps/docs/content/troubleshooting/how-can-i-revoke-execution-of-a-postgresql-function-2GYb0A.mdx
  apps/docs/content/troubleshooting/why-is-my-camelcase-name-not-working-in-postgres-functions-or-rls-policies-EJMzVd.mdx
Labels: autofix

#32862 feat: pro benefit wording test
  apps/studio/components/layouts/ProjectLayout/PausedState/ProjectPausedState.tsx
Labels: do-not-merge

#33135 docs: update phone auth docs
  apps/docs/components/AuthSmsProviderConfig/AuthSmsProviderConfig.Warnings.tsx
  apps/docs/content/guides/auth/phone-login.mdx
  vale/styles/config/vocabularies/Supabase/accept.txt
Labels: documentation
